---
name: CI

'on':
  push:
    branches: master
    tags-ignore: '*'
  pull_request:
    branches: master
    tags-ignore: '*'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actionsx/prettier@v3
        with:
          args: --check cv.yml
  build:
    runs-on: ubuntu-latest
    needs: [verify]
    steps:
      - uses: actions/checkout@v4

      - name: setup-docker
        uses: docker/setup-buildx-action@v3

      - name: make cv.pdf
        run: make cv.pdf
      - name: make cv.json
        run: make cv.json

      - name: Collect Docker Logs
        uses: jwalton/gh-docker-logs@v2

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: 'cv_${{ github.sha }}_build'
          path: build/
